@*<!DOCTYPE html>
    <html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width" />
        <title>錯誤</title>
    </head>
    <body>
        <hgroup>
            <h1>錯誤。</h1>
            <h2>處理您的要求時發生錯誤。</h2>
        </hgroup>
    </body>
    </html>*@

@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "ExceptionDemo";
}
<h1 class="text-danger">Wow!!Something Error......</h1>
<h2 class="text-warning">@Model.Exception.Message</h2>
@*<hr />
<fieldset>
    <legend>HandleErrorInfo</legend>
    <p>Controller:@Model.ControllerName</p>
    <p>Action:@Model.ActionName</p>
    <p>Exception:@Model.Exception.GetType().ToString()</p>
    <p>Message:@Model.Exception.Message</p>
</fieldset>*@

