
@{
    ViewBag.Title = "StateDemo";
}

<h2>StateDemo</h2>
<hr />
<ul>
    <li>ViewBag:@ViewBag.Message</li>
    <li>ViewData:@ViewData["myName"]</li>
    <li>TempData myAge:@TempData["myAge"]</li>
    <li>Session:@Session["myID"]</li>
</ul>

@Html.ActionLink("Go To Demo2","StateDemo2")